<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Title</title>
	<link rel="stylesheet" href="/static/bootstrap-3.4.1/css/bootstrap.min.css">
</head>

<body>
	<img src="/static/XIGD8925.png" style="width: 200px;">
	<div class="container">
	<h1>号码列表</h1>
	<table border="1">
		<thead>
			<tr>
				<td>ID</td>
				<td>手机号</td>
				<td>归属地</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>test1</td>
				<td>test1</td>
				<td>test上海</td>
			</tr>
			{% for row in data %}
			<tr>
			<td>{{row.id}}</td>
			<td>{{row.phone}}</td>
			<td>{{row.city}}</td>
			</tr>
			{% endfor %}


		</tbody>
	</table>
	<script src="/static/jquery-3.6.0.min.js"></script>
	<script src="/static/bootstrap-3.4.1/js/bootstrap.min.js"></script>
	</div>
</body>

</html>